---
title: "NutiKaitse"
---
- content_for :head do
  = stylesheet_tag :guidelines

%header#header
  %center
    %img.logo(alt="Nutikaitse"){:src => image_path("nutikaitse.png")}
    %h1 Nutirakenduste turvalise arenduse suunised
    %h2 Vaata Maailma SA
    - mkm = "Majandus- ja kommunikatsiooniministeerium" 
    %img.auxlogo(alt=mkm width=240){:src => image_path("mkm.jpeg")}

%section#intro
  %center= @items["/_intro/"].compiled_content

#toc
  %center
    %nav
      %h2 Sisukord
      %ol
        %li
          %a(href="#authentication") Autentimine
        %li
          %a(href="#data") Andmete kaitse seadmes
        %li
          %a(href="#network") Andmete kaitse võrgus
        %li
          %a(href="#app") Rakenduse kaitse
        %li
          %a(href="#glossary") Mõisted ja viited

%section#authentication
  %center
    = @items["/_auth_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/authentication-strength/"
      = render_item "/guidelines/2-factor-authentication/"
      = render_item "/guidelines/delegated-authentication/"
      = render_item "/guidelines/user-identity/"
      = render_item "/guidelines/visible-passwords/"
      = render_item "/guidelines/password-charset/"
      = render_item "/guidelines/touch-pattern/"
      = render_item "/guidelines/authentication-context/"
      = render_item "/guidelines/encrypt-passwords/"
      = render_item "/guidelines/authorization-tokens/"
      = render_item "/guidelines/session-identifiers/"
      = render_item "/guidelines/changing-passwords/"
      = render_item "/guidelines/identification-permission/"
      = render_item "/guidelines/mobile-id-code/"
      = render_item "/guidelines/mobile-id-certificates/"
      = render_item "/guidelines/mobile-id-messages/"
      = render_item "/guidelines/session-logs/"
      = render_item "/guidelines/signout/"

%section#data
  %center
    = @items["/_data_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/data-sensitivity/"
      = render_item "/guidelines/delicate-data/"
      = render_item "/guidelines/principle-of-least-knowledge/"
      = render_item "/guidelines/data-duration/"
      = render_item "/guidelines/data-lifecycle/"
      = render_item "/guidelines/data-encryption/"
      = render_item "/guidelines/encryption-algorithms/"
      = render_item "/guidelines/data-encryption-vendor/"
      = render_item "/guidelines/data-storage/"
      = render_item "/guidelines/data-deletion/"
      = render_item "/guidelines/data-deletion-remotely/"
      = render_item "/guidelines/data-backup/"
      = render_item "/guidelines/privacy-policy/"
      = render_item "/guidelines/data-validation/"
      = render_item "/guidelines/digital-signature-algorithms/"
      -#= render_item "/guidelines/data-server/"

%section#network
  %center
    = @items["/_network_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/network-encryption/"
      = render_item "/guidelines/certificate-trust/"
      = render_item "/guidelines/certificate-checking/"
      = render_item "/guidelines/certificate-expiration/"
      = render_item "/guidelines/network-usage/"
      = render_item "/guidelines/sms/"
      = render_item "/guidelines/nfc/"
      = render_item "/guidelines/server-security-testing/"
      = render_item "/guidelines/server-hardening/"
      = render_item "/guidelines/dos/"
      -#= render_item "/guidelines/backend-testing/"
      = render_item "/guidelines/server-logs/"

%section#app
  %center
    = @items["/_app_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/app-permissions/"
      = render_item "/guidelines/tokens-in-code/"
      = render_item "/guidelines/app-testing/"
      = render_item "/guidelines/component-security/"
      = render_item "/guidelines/component-upgrades/"
      = render_item "/guidelines/3rd-party-input/"
      = render_item "/guidelines/terms-of-service/"
      = render_item "/guidelines/user-identification/"
      = render_item "/guidelines/terms-of-service-contradictions/"
      -#= render_item "/guidelines/nonfree-features/"
      = render_item "/guidelines/nonfree-authentication/"
      = render_item "/guidelines/nonfree-confirmation/"
      = render_item "/guidelines/nonfree-usage/"
      = render_item "/guidelines/app-store/"
      = render_item "/guidelines/app-upgrades/"
      = render_item "/guidelines/about/"
      = render_item "/guidelines/feedback/"
      = render_item "/guidelines/code-interpreter/"
      = render_item "/guidelines/code-interpreter-sandbox/"

%section#glossary
  %center
    = @items["/_glossary/"].compiled_content

= javascript_tag :guidelines
