---
title: "NutiKaitse"
---
- content_for :head do
  = stylesheet_tag :guidelines

%header#header
  %center
    %img.logo(alt="Nutikaitse"){:src => image_path("nutikaitse.png")}
    %h1 Nutirakenduste turvalise arenduse suunised
    %h2 Vaata Maailma SA
    - mkm = "Majandus- ja kommunikatsiooniministeerium" 
    %img.auxlogo(alt=mkm width=240){:src => image_path("mkm.jpeg")}

%section#intro
  %center= @items["/_intro/"].compiled_content

#toc
  %center
    %nav
      %h2 Sisukord
      %ol
        %li
          %a(href="#authentication") Autentimine
        %li
          %a(href="#data") Andmete kaitse seadmes
        %li
          %a(href="#network") Andmete kaitse võrgus
        %li
          %a(href="#app") Rakenduse kaitse
        %li
          %a(href="#glossary") Mõisted ja viited

      #progress(style="display: none")
        %span.done#progress-done
        %span.of /
        %span.total#progress-total
        %br
        %span.description Suunist tehtud

%section#authentication
  %center
    %img.icon{:src => image_path("authentication.png")}(height=72)
    %h2 Autentimine
    = @items["/_auth_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/authentication-strength/"
      = render_item "/guidelines/2-factor-authentication/"
      = render_item "/guidelines/delegated-authentication/"
      = render_item "/guidelines/user-identity/"
      = render_item "/guidelines/visible-passwords/"
      = render_item "/guidelines/password-charset/"
      = render_item "/guidelines/touch-pattern/"
      = render_item "/guidelines/authentication-context/"
      = render_item "/guidelines/encrypt-passwords/"
      = render_item "/guidelines/authorization-tokens/"
      = render_item "/guidelines/session-identifiers/"
      = render_item "/guidelines/changing-passwords/"
      = render_item "/guidelines/identification-permission/"
      = render_item "/guidelines/mobile-id-code/"
      = render_item "/guidelines/mobile-id-certificates/"
      = render_item "/guidelines/mobile-id-messages/"
      = render_item "/guidelines/session-logs/"
      = render_item "/guidelines/signout/"

%section#data
  %center
    %img.icon{:src => image_path("data.png")}(height=72)
    %h2 Andmete kaitse seadmes
    = @items["/_data_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/data-sensitivity/"
      = render_item "/guidelines/delicate-data/"
      = render_item "/guidelines/principle-of-least-knowledge/"
      = render_item "/guidelines/data-duration/"
      = render_item "/guidelines/data-lifecycle/"
      = render_item "/guidelines/data-encryption/"
      = render_item "/guidelines/encryption-algorithms/"
      = render_item "/guidelines/data-encryption-vendor/"
      = render_item "/guidelines/data-storage/"
      = render_item "/guidelines/data-deletion/"
      = render_item "/guidelines/data-deletion-remotely/"
      = render_item "/guidelines/data-backup/"
      = render_item "/guidelines/privacy-policy/"
      = render_item "/guidelines/data-validation/"
      = render_item "/guidelines/digital-signature-algorithms/"
      -#= render_item "/guidelines/data-server/"

%section#network
  %center
    %img.icon{:src => image_path("network.png")}(height=72)
    %h2 Andmete kaitse võrgus
    = @items["/_network_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/network-encryption/"
      = render_item "/guidelines/certificate-trust/"
      = render_item "/guidelines/certificate-checking/"
      = render_item "/guidelines/certificate-expiration/"
      = render_item "/guidelines/network-usage/"
      = render_item "/guidelines/sms/"
      = render_item "/guidelines/nfc/"
      = render_item "/guidelines/server-security-testing/"
      = render_item "/guidelines/server-hardening/"
      = render_item "/guidelines/dos/"
      -#= render_item "/guidelines/backend-testing/"
      = render_item "/guidelines/server-logs/"

%section#app
  %center
    %img.icon{:src => image_path("app.png")}(height=72)
    %h2 Rakenduse kaitse
    = @items["/_app_intro/"].compiled_content

    %ol.guidelines
      = render_item "/guidelines/app-permissions/"
      = render_item "/guidelines/tokens-in-code/"
      = render_item "/guidelines/app-testing/"
      = render_item "/guidelines/component-security/"
      = render_item "/guidelines/component-upgrades/"
      = render_item "/guidelines/3rd-party-input/"
      = render_item "/guidelines/terms-of-service/"
      = render_item "/guidelines/user-identification/"
      = render_item "/guidelines/terms-of-service-contradictions/"
      -#= render_item "/guidelines/nonfree-features/"
      = render_item "/guidelines/nonfree-authentication/"
      = render_item "/guidelines/nonfree-confirmation/"
      = render_item "/guidelines/nonfree-usage/"
      = render_item "/guidelines/app-store/"
      = render_item "/guidelines/app-upgrades/"
      = render_item "/guidelines/about/"
      = render_item "/guidelines/feedback/"
      = render_item "/guidelines/code-interpreter/"
      = render_item "/guidelines/code-interpreter-sandbox/"

%section#glossary
  %center
    %h2 Mõisted ja viited

    %dl
      %dt ENISA
      %dd
        :markdown
          <http://www.enisa.europa.eu/activities/Resilience-and-CIIP/critical-applications/smartphone-security-1/smartphone-secure-development-guidelines>

      %dt OWASP Application Security Verification Standard (2014)
      %dd
        :markdown
          <https://www.owasp.org/images/5/58/OWASP_ASVS_Version_2.pdf>

      %dt Nutirakendus
      %dd
        Nutiseadme jaoks välja töötatud rakendusprogramm (app) või nutiseadme
        jaoks kohaldatud veebirakendus.

      %dt Nutiseade
      %dd
        Mobiilne seade (üldjuhul nutitelefon või tahvelarvuti), mis erineb
        lihtsast mobiiltelefonist selle poolest, et võimaldab kasutada
        tavaarvutile omaseid funktsioone. Nutiseadmel on tavaliselt puutetundlik
        ekraan, internetiühendus ja operatsioonisüsteem, mis võimaldab kasutada
        allalaetavaid nutirakendusi.

      %dt Mobiil-ID
      %dd
        Mobiil-ID on Eesti Vabariigi ID-kaardil põhinev isikusamasuse tõendamise
        ning digitaalse allkirjastamise lahendus, mis võimaldab kasutajal end
        mobiilseadme vahendusel autentida.

      %dt Isikuandmed
      %dd
        %p
          Isikuandmed on mis tahes andmed tuvastatud või tuvastatava füüsilise
          isiku kohta, sõltumata sellest, millisel kujul või millises vormis need
          andmed on.

        %p
          Isikuandmete, sh delikaatsete isikuandmete, kaitset reguleerib <a
          href="https://www.riigiteataja.ee/akt/748829">Isikuandmete Kaitse
          Seadus</a>.

      %dt Delikaatsed isikuandmed
      %dd
        Delikaatsed isikuandmed on:

        %ul
          %li
            Poliitilisi vaateid, usulisi ja maailmavaatelisi veendumusi
            kirjeldavad andmed, välja arvatud andmed seadusega ettenähtud korras
            registreeritud eraõiguslike juriidiliste isikute liikmeks olemise
            kohta;

          %li Etnilist päritolu ja rassilist kuuluvust kirjeldavad andmed;
          %li Andmed terviseseisundi või puude kohta;
          %li Andmed pärilikkuse informatsiooni kohta;
          %li
            Biomeetrilised andmed (eelkõige sõrmejälje-, peopesajälje- ja
            silmaiirisekujutis ning geeniandmed);
          %li Andmed seksuaalelu kohta;
          %li Andmed ametiühingu liikmelisuse kohta;
          %li
            Andmed süüteo toimepanemise või selle ohvriks langemise kohta enne
            avalikku kohtuistungit või õigusrikkumise asjas otsuse langetamist
            või asja menetluse lõpetamist.

        %p
          Delikaatsete isikuandmete töötleja peab delikaatsete isikuandmete
          töötlemise registreerima Andmekaitse inspektsioonis va juhul kui ta
          on määranud isikuandmete kaitse eest vastutava isiku. Isikuandmete
          kaitse eest vastutava isiku määramisest ja tema volituste lõppemisest
          tuleb viivitamata teavitada Andmekaitse Inspektsiooni.

        %p
          Isikuandmete, sh delikaatsete isikuandmete, kaitset reguleerib <a
          href="https://www.riigiteataja.ee/akt/748829">Isikuandmete Kaitse
          Seadus</a>.

      %dt API
      %dd
        API (<em>Application Programming Interface</em>) on tarkvaraprogrammi
        rakendusliides, mis võimaldab tarkvararakendustel omavahel suhelda,
        kasutades selleks kindlaksmääratud reeglistikku (suhtlusprotokolli).

      %dt Teenusserver
      %dd
        Käesolevas dokumendis loetakse teenusserveriks nutiseadmest väljaspool
        asuvat teenusepakkuja tugiteenuste komplekti, mis on vajalik
        nutirakenduse täielikuks toimimiseks.

      %dt ISKE
      %dd
        %p
          Riigi poolt väljatöötatud <a
          href="https://www.ria.ee/iske/">„infosüsteemide kolmeastmeline
          etalonturbe süsteem“</a>, mis on loodud eelkõige riigi ja kohaliku
          omavalitsuse infosüsteemidele ning nendega seotud infovaradele
          turvalisuse tagamiseks.

        %p
          ISKE väljatöötamisel ja arendamisel on aluseks võetud Saksamaa BSI
          (Bundesamt für Sicherheit in der Informationstechnik) avaldatav
          infoturbe standard (IT-Grundschutz).

      %dt AKI
      %dd
        %a(href="https://www.aki.ee") Andmekaitse Inspektsioon

      %dt RIA
      %dd
        %a(href="https://www.ria.ee") Riigi Infosüsteemi Amet

= javascript_tag :guidelines
